   {% extends 'partials/layout.njk' %}
      {% block title %}Home page{% endblock %}</title>
  {% block content %}
   {% if name && age %}
 <h1>Hello {{ name }} you are {{ age }} years old! </h1>
 {% endif %}
 <form action="/asnwer">
   <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Name here">
   </div>
   <div class="mb-3">
      <label for="age" class="form-label">age</label>
      <input type="number" min="0" max="150" class="form-control" id="age" placeholder="">
   </div>
   <div class="mb-3">
      <input type="submit" class="btn btn primary">
   </div>
 </form>
  {% endblock %}